$primary: #3f51b5;
$primary_: #009145;
$primary_table: #036637;
$secundary: #036637;
$dark-primary: #04743b;
$title-dark-primary: #006933;
$black: #000000;
$gray: #5d636a;
$darkgray: #b5b5b5;
$font-family: 'Open Sans';
$lightgray: #f8f8f8;
$lightgray_: #cfcfcf;
$white: white;
$font-OpenSan: 'Open Sans';
$font-Montserrat: 'Montserrat';
$secondary-gray: #f3f3f3;


