<mat-toolbar>
    <app-back [icon]="home"></app-back>
    <span class="example-spacer"></span>
    <span  class="cursor-pointer" aria-label="post" (click)="go()" style="margin-right: 10%">
      {{"POST" | translate}}
    </span>
    <mat-slide-toggle  [checked]="lang  === 'en' ? true : false"  color="primary" (click)="change()" Style="margin-left: 2px" >
    <img style="width: 25px ; height: 25px" [src]=" lang  === 'es' ? globalText.IMG_ES :  globalText.IMG_EN">
    </mat-slide-toggle>
</mat-toolbar>
