
<div class="container">
  <h1 class="text-center display-5">{{"LOGIN" | translate}}</h1>
  <div class="text-center">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>{{"EMAIL" | translate}}</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <p class="m-0">
          <span class="text-danger"
                *ngIf="form.controls.email.status === 'INVALID' && form.controls.email.touched
              ">* {{"THIS_FIELD_IS_REQUIRED" | translate}}
        </span>
          </p>

        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-label>{{"PASSWORD" | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <p class="m-0">

          <span class="text-danger"
                *ngIf="form.controls.password.status === 'INVALID' && form.controls.password.touched
              ">{{"THIS_FIELD_IS_REQUIRED" | translate}}
        </span>
          </p>
        </div>
        <div class="col-12">
          <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="save()">{{"SEND" | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>

