<div class="container">
  <h1 >{{"POSTS_LIST" | translate}}</h1>

  <div style="margin-top: 5px">
    <mat-grid-list cols="3" rowHeight="2:1">
      @for(post of post; track $index){
        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{post?.title | titlecase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{post?.body | slice : 0 : 80}}...</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="go(post?.id)" >Ver más</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      }@empty{
        <p>
          {{"THERE_ARE_NOT_DATA" | translate}}
        </p>}
    </mat-grid-list>
  </div>

</div>

<app-spinner [type]="type" ></app-spinner>
