<div class="container">
  <h1>POST LIST</h1>


  <mat-grid-list cols="3" rowHeight="2:1">
    @for(post of post; track $index){
      <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{post?.title | titlecase}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{post?.body | slice : 0 : 80}}...</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="go(post?.id)" >Ver más</button>
        </mat-card-actions>
      </mat-card>
      </mat-grid-tile>
    }@empty{
      <p>No hay Datos</p>}
  </mat-grid-list>




</div>




<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
 <p><mat-spinner></mat-spinner></p>
  <p style="color: white" >   Loading...</p>
</ngx-spinner>
